<h1>Listing Products</h1>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <div class="card">
            <%= image_tag(product.picture) if product.picture.attached? %>
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.description %></p>

              <%= link_to 'Show', purchase_path(product), class: "btn btn-primary" %>

            </div>
        </div>
      </div>
    <% end %>
  </div>

